[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bash-git-prompt"]
	path = dependencies/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bash-wakatime"]
	path = bash-wakatime
	url = https://github.com/gjsheep/bash-wakatime
