---
x-build-steps: &build_steps
  steps:
    - run:
        name: Install prerequistes
        command: |
          apt-get update -qq
          apt-get install apt-utils -yqq

          apt-get install \
            locales \
            ssh \
            ca-certificates \
            lsb-release \
            build-essential \
            -yqq \
            --no-install-recommends

          apt-get autoclean -yqq
          apt-get autoremove -yqq
    - checkout
    - run:
        name: Configure timezone & timezone
        command: |
          echo 'tzdata tzdata/Areas select Europe' | debconf-set-selections
          echo 'tzdata tzdata/Zones/Europe select Warsaw' | debconf-set-selections

          echo 'locales locales/locales_to_be_generated multiselect en_US.UTF-8 UTF-8' | debconf-set-selections
          echo 'locales locales/default_environment_locale select en_US.UTF-8' | debconf-set-selections

          echo 'keyboard-configuration  keyboard-configuration/layout select  English (UK)' | debconf-set-selections

          locale-gen en_US.UTF-8
          ln -fs /usr/share/zoneinfo/Europe/Warsaw /etc/localtime

          apt-get install tzdata -y --no-install-recommends

          apt-get autoclean -yqq
          apt-get autoremove -yqq
    - run:
        name: Run an installation
        command: |
          ./install \
            --username"${CIRCLE_PROJECT_USERNAME}" \
            --password "${CIRCLE_BUILD_NUM}" \
            --email "${CIRCLE_PROJECT_USERNAME}@${CIRCLE_PROJECT_REPONAME}.M" \
            --gpg-fullname "Circle Builds" \
            --gpg-passphrase "${CIRCLE_SHA1}" \
            --wakatime_api_key "555-WAKATIME-BOGUS-API-KEY"
    - run:
        name: Verify !
        command: |
          zsh -mil -c echo "Veryfying the build ${CIRCLE_BUILD_NUM}"
          zsh -mil -c .circleci/verify_install.sh

version: 2.1
jobs:
  submodules:
    machine: true
    steps:
      - checkout
      - run:
          name: "Submodules :: checkout"
          command: .circleci/submodules_step.sh

  build_ubuntu_20_04:
    docker:
      - image: ubuntu:20.04
    <<: *build_steps

  build_arch:
    docker:
      - image: archlinux:latest
    steps:
      - checkout
      - run: |
          locale-gen en_US.UTF-8
          ln -fs /usr/share/zoneinfo/Europe/Warsaw /etc/localtime
      - run: |
          pacman -Sy --noconfirm sudo

          useradd -m -r -s /bin/bash aur
          passwd -d aur
          echo 'aur ALL=(ALL) ALL' > /etc/sudoers.d/aur

          mkdir -p /home/aur/.gnupg
          echo 'standard-resolver' > /home/aur/.gnupg/dirmngr.conf

          chown -R aur:aur /home/aur
      - run:
          name: Run an installation
          command: |
            su - aur
            ./install \
              --git-username "${CIRCLE_PROJECT_USERNAME}" \
              --git-password "${CIRCLE_BUILD_NUM}" \
              --git-email "${CIRCLE_PROJECT_USERNAME}@${CIRCLE_PROJECT_REPONAME}.M" \
              --gpg-fullname "Circle Builds" \
              --gpg-passphrase "${CIRCLE_SHA1}" \
              --wakatime-api-key "555-WAKATIME-BOGUS-API-KEY"
      - run:
          name: Verify !
          command: |
            zsh -mil -c echo "Veryfying the build ${CIRCLE_BUILD_NUM}"
            zsh -mil -c .circleci/verify_install.sh

workflows:
  version: 2
  verify:
    jobs:
      - submodules
  build:
    jobs:
      - build_ubuntu_20_04
      - build_arch
