version: 2
jobs:

  shellcheck:
    docker:
      - image: nlknguyen/alpine-shellcheck:latest
    steps:
      - run:
          name: Install git & openssh
          command: |
            apk update
            apk add git openssh
      - checkout
      - run:
          name: Check Scripts
          command: |
            shellcheck install post-install pre-install --external-sources
            find bin/ -type f | xargs shellcheck --external-sources
            find . -type f -name '*.sh' | wc -l
            find . -type f -name '*.sh' | xargs shellcheck --external-sources

  submodules:
    machine: true
    steps:
      - checkout
      - run:
          name: 'Submodules :: checkout'
          command: |
            git submodule update --init --recursive --recommend-shallow
      - run:
          name: 'Submodules :: status'
          command: |
            git submodule status

workflows:
  version: 2
  verify:
    jobs:
      - submodules
      - shellcheck
