[Unit]
Description=docker system pruner service

[Service]
Type=oneshot
ExecStartPre=echo "Prunning docker"
ExecStart=docker system prune -a -f ; docker volume prune -f

[Install]
WantedBy=docker-prune.timer
