Host *
    Compression                 yes
    AddKeysToAgent              yes
    ForwardAgent                yes
    ForwardX11                  no
    ForwardX11Trusted           yes
    TCPKeepAlive                no
    SendEnv                     LANG LANGUAGE LC_*
    GSSAPIAuthentication        no
    ServerAliveInterval         60
    ServerAliveCountMax         30
    IdentitiesOnly              yes # always use the key that matches one-by-one
