---
name: CI

"on": [push]

jobs:
  vint:
    name: Vint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2.2.1
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install \
            vim-vint==$(grep vim-vint < ./requirements/neovim.txt | awk -F'==' '{print $2}')
      - name: vint
        run: |
          vint -c -s -t --enable-neovim $(git ls-files -- 'vim/*.vim' 'nvim/*.vim' vimrc)
  shellcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: ludeeus/action-shellcheck@1.1.0
  requirements_txt:
    name: Validate Python requirements
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - 2.x
          - 3.x
        requirements:
          - requirements/neovim.txt
          - requirements/system.txt
          - requirements/utils.txt
          - requirements.txt
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python-version }}
      - name: 1st pass
        run: pip install -r ${{ matrix.requirements }}
      - name: 2nd pass
        run: pip install -r ${{ matrix.requirements }}
